/*Main-content Currency Converter*/
@media  (max-width: 767px) {
  .sm-screen{
    margin-top: 50px;
  }

  .main-page-title{
    margin-top:70px;
  }

  #no-sm{
    display: none;
  }
}

@media (min-width: 768px) {
  .main-page-title{
  margin-top: 100px;
  }

  #only-sm{
    display: none;
  }

  #title-div{
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
  }
}

h1, .main-content-subtitle{
  color: white;
  font-weight: bolder;
}

label{
  font-weight: bold;
}


.exchange-button{

  background: #5B86E5;
  border-radius: 10px;
  height: 88%;
}

.exchange-button:hover{
  background: #36D1DC;
}

.exchange-button:focus{
  background: #5B86E5;
}

.desktopIcon{
  color:whitesmoke;
}




